.main-container {
    display: flex;
    margin-top: 10%;
    .items-table {
        width: 70%; 
        border: none; 
        border-collapse: collapse; 
        tr {
            text-align: center;
            vertical-align: middle;
            img {
                width: 100px;
            }
        }
    }
    .summ-container {
        font-size: 2rem;
        margin: 2rem;
        color: grey;
        .summ {
            font-size: 5rem;
            color: black;
        }
        .buy-btn {
            margin: 2rem;
            font-size: 3rem;
        }
    }
}
.empty-basket {
    margin-top: 6rem;
    text-align: center;
    div {
        font-size: 5rem;
    }
}

@media(max-width: 1200px) { 
    .main-container {
        .summ-container {
            text-align: center;
            font-size: 1rem;
            .summ {
                font-size: 3rem;
            }
        }        
    }
}

@media(max-width: 767px) {
    .main-container {
        width: 100%;
        margin: 20% auto;
        .summ-container {
            text-align: center;
            font-size: 1rem;
            .summ {
                font-size: 2rem;
            }
            .buy-btn {
                font-size: 2rem;
            }
        }    
        .items-table tr img {
            width: 50px;
        }
        td {
            padding: 0 5px;
        }
    }
} 

@media(max-width: 624px) {
    .main-container {
        flex-direction: column;
        .items-table {
            width: 100%;
            td {
                padding: 10px;
            }
        }
    }
}